extends hack

block hackspace
  #panel
    nav#menu.ui.vertical.menu
      //-a(href="hack-panel.html").item.panel 儀表版
      .item 填坑
        .menu
          a(href="hack-panel-pit.html").item.pit 坑
          a(href="hack-panel-project.html").item.project 專案
          a(href="hack-panel-idea.html").item.idea 零感
      .item 填坑材料
        .menu
          a(href="hack-panel-achievement.html").item g0v 現有成果
          a(href="hack-panel-g0ver.html").item.g0ver g0v 黑客
          a(href="hack-panel-ngo.html").item 相關公民團體
          a(href="hack-panel-fund.html").item 相關募資平台
      .item 填坑管道
        .menu
          a(href="hack-panel-colaboration.html").item 協作平台
          a(href="hack-panel-discussion.html").item 討論平台
          a(href="hack-panel-event.html").item 黑客松
      .item 我的
        .menu
          a(href="hack-panel-resume.html",ng-show="login=='done'").item.resume.login.done 黑客履歷
          a(href="hack-panel-leve1up.html").item.leve1up leve1up
          a(href="hack-panel-hat.html").item.hat 分類帽

    section#content
      block content
        p blah

block script
  script.
    $("#nav .panel").addClass("active");
    $("#menu .panel").addClass("active");
    $(".login.done").show(); // not working..