extends hack-panel

block content
  nav.ui.fluid.four.item.menu
    .item 我的
    .item 所有坑
      .ui.label.red 999
    .item 所有專案
      .ui.label.blue 999
    .item 所有零感
      .ui.label.green 999

  section#my
    p 坑
    p 專案

  section#pit

  section#project

  section#idea



block script
  script.
    $("#nav .panel").addClass("active");
    $("#menu .pit").addClass("active");
