extends hack-logged-in

block hackspace
  #panel
    nav#menu.ui.vertical.menu
      a(href="hack-panel.html").item.panel 儀表版
      a(href="hack-panel-resume.html").item.resume 黑客履歷
      a(href="hack-panel-pit.html").item.pit 我的坑
      a(href="hack-panel-project.html").item.project 我的專案
      a(href="hack-panel-partner.html").item.partner 我的夥伴
      a(href="hack-panel-leve1up.html").item.leve1up 我的課程
      a(href="hack-panel-nohack.html").item.nohack 離開 g0v

    section#content
      block content
        p blah

block script
  script.
    $("#nav .panel").addClass("active");
    $("#menu .panel").addClass("active");
